venv*
credentials.json
wandb_key.json
*.pt
*.ckpt
*.png
**/wandb
**/cache*
**/.eggs*
*.egg-info
**/dist
**/__pycache__
!lecture_f/mnist_flow_weights_trained.ckpt
!lecture_d/cifar10_simple/pretrained_cifar10.ckpt